{# Étendez ici le layout de base si vous en avez un #}
{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
		{% include "flash.html.twig" %}

        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    Informations du profil
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ app.user.firstName }} {{ app.user.lastName }}</h5>
                    <p class="card-text">Adresse : {{ app.user.adress }}</p>
                    <p class="card-text">Code Postal : {{ app.user.postalCode }}</p>
                    <p class="card-text">Email : {{ app.user.email }}</p>
                    <p class="card-text">Numéro de téléphone : {{ app.user.phoneNumber }}</p>
                    <a href="{{path('app_profile_edit')}}" class="btn btn-warning"> Modifier informations </a>
                    <a href="{{path('app_profile_password_edit')}}" class="btn btn-danger"> Modifier mot de passe </a>
                    <a href="" class="text-light btn btn-dark"> Supprimer son compte </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
